@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Roboto", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --HEADER-BGCOLOR: rgb(21, 50, 67);
  --HEADER-TEXTCOLOR: rgb(238, 240, 235);
  --IVORY: rgb(244, 249, 233);
  --BACKGROUND-COLOR: rgb(180, 184, 171);
  --BODY-TEXTCOLOR: rgb(40, 75, 99);
}

/* || UTILITY */

.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BACKGROUND-COLOR);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

/* || HEADER */

nav {
  height: 5.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0rem;
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-TEXTCOLOR);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.cartIcon {
  background-color: var(--HEADER-TEXTCOLOR);
  padding: 0.7rem;
  border-radius: 50%;
  position: relative;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.amount {
  color: var(--HEADER-TEXTCOLOR);
  background-color: var(--BODY-TEXTCOLOR);
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
}

nav h1 {
  margin-top: 0.5rem;
}

/* || MAIN */

main {
  height: calc(100vh - 5.4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--BODY-TEXTCOLOR);
}

main h1 {
  margin-top: 2.5rem;
  text-transform: uppercase;
}

.items {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  width: 55%;
}

.item {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
}

.itemsInfo {
  min-width: 92%;
  display: flex;
  justify-content: space-between;
}

.item .properties {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.item .properties button {
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid var(--BODY-TEXTCOLOR);
  background-color: transparent;
  color: var(--BODY-TEXTCOLOR);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.item .properties button:active {
  transform: scale(1);
  transform: translateY(5px);
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.chooseAmount {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  text-align: center;
}

.chooseAmount button {
  all: unset;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.chooseAmount button:active {
  transform: scale(1);
  transform: translateY(5px);
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid gray;
}

.clearCart {
  background-color: var(--BACKGROUND-COLOR);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--BODY-TEXTCOLOR);
  border: 2px solid var(--BODY-TEXTCOLOR);
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.clearCart:active {
  transform: scale(1);
  transform: translateY(5px);
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.emptyBag {
  margin-bottom: 50%;
}
